@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Poppins&display=swap');
*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
  background-color: #1F1D2B;
  font-family: Poppins;
}

.page
{
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.sidebar
{
  grid-column-start: 1;
  width: 148px;
  height: 100vh;
  margin: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
}

.logo
{
  color: #fff;
  font-size: 1.25rem;
  padding-top: 2.5em;
  margin-bottom: 2.5em;
}

.menu
{
  color: #808191;
  font-size: 0.70rem; 
  letter-spacing: 0.15em;
  margin-bottom: 1.5em;
}

.sidebar-list
{
  list-style: none;
}

.list_element
{
  display: flex;
  align-items: center;
  justify-content: flex-start;    
  background-color: #353440;
  width: 32px;
  height: 32px;
  border-radius: 12px;
  margin: 1.5em;
  margin-left: 0;
}

.list_text
{
  display: flex;
  color: #808191;
  font-size: 1rem;
  margin-left: 1.5em;
  white-space: nowrap;
}

.list_img
{
  display: flex;
  justify-content: center;
  margin-left: 0.5em;
}

.el_orange
{
    background-color: #FF7551;
}

.text_white
{
    color: white;
}

.line
{
    border: 1px solid #34373c;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #6C5ECF;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #6C5ECF;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .sidebar__slider
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  .slider__text
  {
    white-space: nowrap;
    color: #808191;
  }

  .header
  {
    display: flex;
    margin: 1.3em;
    justify-content: center;
  }

  form {
    position: relative;
    width: 300px;
    margin: 0 auto;
  }
  input, button {
    border: none;
    outline: none;
    border-radius: 3px;
  }
  input {
    width: 100%;
    height: 42px;
    background: #F9F0DA;
    padding-left: 15px;
  }
  button {
    height: 26px;
    width: 26px;
    position: absolute;
    top: 8px;
    right: 8px;
    background: #F15B42;
    cursor: pointer;
  }
  button:before {
    content: "\f105";
    font-family: FontAwesome;
    color: #F9F0DA;
    font-size: 20px;
    font-weight: bold;
  }