@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    width: 100%;
    max-width: 1220px;
    padding-inline: 60px;
    padding-top: 20px;
    padding-bottom: 60px;
    margin-inline: auto;

    background-color: yellowgreen;
}

:root
{
  --clr1: #1F1D2B;
  --clr2: #808191; 
  --clr3: #fff;
  --clr4: #34373c;
  --clr5: #353440;
  --clr6: #FF7551;
  --clr7: #6C5ECF;
  --clr8: grey;
  --clr9: #24273081;
  --clr10: #242730;
  --clr11: #B7B9D2;
  --clr12: green;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    height: auto;
}

.search {
    width: 100%;
    max-width: 625px;
    height: 60px;
    background: var(--clr4);
    display: flex;
    background-color: var(--clr5);
}

.sidebar_hide
  {
    display: none;
  }

  form {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
  }

  .searcher
  {
    background-color: var(--clr5);
    border: 0;
    
    border-radius: 10px;
    padding-left: 15px;
    color: var(--clr3);
  }
  .search, .search_button{
    border: none;
    outline: none;
    border-radius: 10px;
    width: 100%;
  }

  .search_button {
    
    height: 26px;
    width: 26px;
    position: absolute;
    top: 17px;
    right: 15px;
    background: var(--clr4);
    cursor: pointer;
  }
  .search_button:before {
    content: url("./images/loop.svg");
    font-family: Poppins;
    color: var(--clr2);
    font-size: 1.5em;
    font-weight: bold;
  }



.user {
    flex-shrink: 0;

    background-color: aquamarine;
    height: 60px;
}

.promo {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
}

.promoEl {
    height: 300px;
    background-color: blueviolet;
}

.mostWatched {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.mostWatchedEl {
    height: 200px;
    background-color: brown;
}

/* SIDEBAR */

.sidebar {
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    width: 200px;
    height: 100vh;
    margin-left: 30px;
}

.logo
{
  color: var(--clr3);
  font-size: 1.25rem;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.menu
{
  color: var(--clr2);
  font-size: 0.7rem; 
  letter-spacing: 0.15em;
  margin-bottom: 1.5em;
}

.sidebar-list
{
  list-style: none;
}

.list_element
{
  display: flex;
  align-items: center;
  justify-content: flex-start;    
  background-color: var(--clr5);
  width: 2em;
  height: 2em;
  border: 0;
  cursor: pointer;
  border-radius: 12px;
  margin: 1.5em;
  margin-left: 0;
}


.list_text
{
  display: flex;
  color: var(--clr2);
  font-size: 1rem;
  margin-left: 1.5em;
  white-space: nowrap;
}

.list_img
{
  display: flex;
  justify-content: center;
  margin-left: 0.5em;
}

.el_orange
{
    background-color: var(--clr6);
}

.text_white
{
    color: var(--clr3);
}

.line
{
    border: 1px solid var(--clr4);
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr8);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: var(--clr7);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--clr7);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 2.1em;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .sidebar__slider
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  .slider_text
  {
    margin-top: 0.2em;
    margin-left: 4em;
    white-space: nowrap;
    color: var(--clr2);
    cursor: pointer;
  }

.app {
    display: flex;
    background-color: var(--clr1);
}

@media (max-width: 1400px) {
    .sidebar {
        display: none;
        width: 0;
    }
}

@media (max-width: 1000px) {
    .mostWatched {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .promo {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px) {
    .mostWatched {
        grid-template-columns: 1fr 1fr;
    }
    .promo {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}

@media (max-width: 500px) {
    .mostWatched {
        grid-template-columns: 1fr;
    }
}


/* END SIDEBAR */
